/* ==========================================================================
   Font
   ========================================================================== */
/*
    font-family: "F_MOB";
    font-family: "F_HD";
    font-family: "F_HI";
    font-family: "F_MO";
    font-family: "F_AL";
    font-family: "F_BI";
    font-family: "F_LS";
    font-family: "F_OS_L";
    font-family: "F_OS_R";
    */

    @font-face {
        font-family: "F_MOB";
        src: url(fonts/master_of_break.ttf) format("truetype");
    }

    @font-face {
        font-family: "F_HD";
        src: url(fonts/Homestead-Display.ttf) format("truetype");
    }

    @font-face {
        font-family: "F_HI";
        src: url(fonts/Homestead-Inline.ttf) format("truetype");
    }

    @font-face {
        font-family: "F_MO";
        src: url(fonts/Mohave.otf) format("truetype");
    }

    @font-face {
        font-family: "F_AL";
        src: url(fonts/AbrahamLincoln.ttf) format("truetype");
    }

    @font-face {
        font-family: "F_BI";
        src: url(fonts/Bender-Inline.otf) format("truetype");
    }

    @font-face {
        font-family: "F_LS";
        src: url(fonts/LaurenScript.ttf) format("truetype");
    }
    @font-face {
        font-family: "F_OS_L";
        src: url(fonts/OpenSans-Light.ttf) format("truetype");
    }

    @font-face {
        font-family: "F_OS_R";
        src: url(fonts/OpenSans-Regular.ttf) format("truetype");
    }



/* ==========================================================================
  General Style
  ========================================================================== */

  html, body {
    width:100%;
    height:100%;
}


/* full width/height container */
#slides-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* double la hauteur et largeur du viewport */
#slides {
    width: 200%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
}
.slide {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:50%;
}


.bcg {
    height: 100%;
    width: 100%;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -ms-background-size: cover !important;
    background-size: cover !important;
}

.hsContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(87,4,10,0.3);
}

h3{margin: 0;}
h2{margin: 0;}
h1{margin: 0;}

/*Event non dispo*/

#slide-3 h2, #slide-6 .Event_non_dispo{
    position: absolute;
    text-align: center;
    color: white;
    left:50%;
    top:50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 5vh;
    font-family: "F_AL";
}

/* ==========================================================================
   Style dans le menu de navigation
   ========================================================================== */

.menu {
    opacity: 0;
    width: 100%;
    height: 85px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    color: #414141;
    font-family: "F_HD";
    overflow: hidden;
}

    nav .hsContent{
        width: 70%;
        padding: 0 15% 0 15%;
        margin: auto;
        text-align: center;
        background-color: #FFFFFF;
    }

        nav .hsContent span{
            position: relative;
        }

            nav .hsContent .menu_element{
                display: inline-block;
                height: 100%;
                margin: 0 25px 0 25px;
                line-height: 85px;
            }

                nav .hsContent h2{
                    cursor:pointer;
                    font-size: 1.3vw;
                }

/* Barre Indicatrice de Page */

            nav .nav_indicator{
                position: absolute;
                width: 100%;
                left:0;
                height: 5px;
                overflow: hidden;
                background-color:transparent;
            }

            nav #haut {top:-80%;}
            nav #bas {bottom:-40%;}

                nav .barre_nav{
                    position: absolute;
                    width: 0px;
                    height: 100%;
                    -webkit-transform:translateX(0px);
                    -moz-transform:translateX(0px);
                    -ms-transform:translateX(0px);
                    transform:translateX(0px);

                    -webkit-transition-duration:0.5s;
                    -moz-transition-duration:0.5s;
                    -ms-transition-duration:0.5s;
                    transition-duration:0.5s;

                    background-color: rgb(92,2,31);
                }

/* Animation double Fake bar nav Slide 2 */

#barres_anim{
    display: block;
    position: relative;
    top: 0;
    height: 10px;
    margin-bottom: -10px;
}
.anim_menu{
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
}

/* =========================================================================
   Indicateur de page suivante
   ========================================================================== */


.next_page{
    position: absolute;
    text-align: center;
    color: white;
    cursor:pointer;
    width: 20vw;
}

.next_page:not(.no_opacity_hover):hover{   /*no_opacity_hover pour le slide 1*/
    opacity: 1 !important;
}

    .next_page h1{
        margin: 0 auto -15px;
        font-size: 1.1vmax;
        font-family: "F_MO";
    }

/*Indicateur de page suivante Slide 1*/

#slide-1 .next_page{
    margin-left: 40%;
    bottom: 0;
    font-size: 5vmax;
    margin-bottom: -20px;
}

    #slide-1 .next_page h1{
        font-size: 1.5vmax;
        margin: 0 auto -20px;
    }

    #slide-1 .next_page:hover .fa{
        font-size: 5.5vmax;
    }

     #slide-1 .next_page:hover .clignotement{
        opacity: 1 !important;
    }

/*Indicateur de page suivante Slide 2*/

#slide-2 .next_page{
    top: 50%;
    right: -7%;
    font-size: 9vh;
}

    #slide-2 .next_page:hover .fa{
        font-size: 10vh;
    }

/*Indicateur de page suivante Slide 4*/

#slide-4 .next_page{
    margin-left: 40%;
    bottom: 0%;
}

#slide-4 .next_page .fa{
     font-size: 4vw;
}
#slide-4 .next_page:hover .fa{
     font-size: 4.5vw;
}

/*Indicateur de page suivante Slide 5*/

#slide-5 .next_page{
    margin-left: 40%;
    bottom: 0%;
}

#slide-5 .next_page .fa{
     font-size: 4vw;
}
#slide-5 .next_page:hover .fa{
     font-size: 4.5vw;
}


/* ==========================================================================
   Style in Slide 1
   ========================================================================== */

#slide-1 .bcg{
    background: url('../img/slide_1.jpg') no-repeat center center fixed;
}


#slide-1 img{
    position: relative;
    left: -50%;
    margin-top:-63%;
    width: 70vmin;
}


#slide-1 .hsContainer{
    background-color: rgba(92,2,31,0.5);
    position: relative;
}

#slide-1 .center_logo{
    position: absolute;
    left: 50%;
    top:50%;
}


@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    transform: scale3d(0,0,0);
}

50% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1,1,1);
}
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0,0,0);
    -moz-transform: scale3d(0,0,0);
    -ms-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0);
}

50% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1,1,1);
}
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    -moz-animation-name: zoomIn;
    -ms-animation-name: zoomIn;
    animation-name: zoomIn;

    -webkit-animation-duration:2.5s;
    -moz-animation-duration:2.5s;
    -ms-animation-duration:2.5s;
    animation-duration:2.5s;/*

    -webkit-animation-delay:0s;
    -moz-animation-delay:0s;
    -ms-animation-delay:0s;
    animation-delay:0s;*/
}

/* ==========================================================================
   Style in Slide 2
   ========================================================================== */

#slide-2 {
    -webkit-transform: translate(0,100%);
    -moz-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

#slide-2 .bcg{
    background: url('../img/slide_2.jpg') no-repeat center center;
}

/*Content*/
#slide-2 .hsContent {
    display: block;
    width: 75%;
    margin:85px auto;
}

#slide-2 .hsContent .jour {
    display: inline-block;
    width: 27%;
    height: 58vh;
    margin: 0px 3% 0% 3%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

#slide-2 .arrow{
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: white transparent transparent transparent;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
    transition-duration:0.3s;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);

}

#slide-2 .jour:hover .arrow{
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}


/*Spectacle Animation*/
#slide-2 .description{
    display: block;
    height:100%;
    margin-top: 6vh;

    -webkit-transform : scale(0.5);
    -moz-transform : scale(0.5);
    -ms-transform : scale(0.5);
    transform : scale(0.5);

    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    -ms-transition:all 0.1s linear;
    transition:all 0.1s linear;

    -webkit-perspective :2700px;
    -moz-perspective :2700px;
    -ms-perspective :2700px;
    perspective :2700px;

    -webkit-perspective-origin:50% 50%;
    -moz-perspective-origin:50% 50%;
    -ms-perspective-origin:50% 50%;
    perspective-origin:50% 50%;

    -webkit-transition-duration:0.4s;
    -moz-transition-duration:0.4s;
    -ms-transition-duration:0.4s;
    transition-duration:0.4s;
}

.no_scall_back{
    -webkit-transform : scale(1) !important;
    -moz-transform : scale(1) !important;
    -ms-transform : scale(1) !important;
    transform : scale(1) !important;
}

#slide-2 .Box_event{
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit--webkit-perspective-origin: 50% 100%;
    -moz-perspective-origin: 50% 100%;
    -ms-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%;

    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    transition:all 0.5s ease;
    /*transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) ;*/
}

#slide-2 .face{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid white;
    box-shadow: 0px 0px 30px #2d2d2d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}


#slide-2 #devant{
    -webkit-transform:rotateY(0deg);/* 0.2 : Corrigé Espacement pixel*/
    -moz-transform:rotateY(0deg);
    -ms-transform:rotateY(0deg);
    transform:rotateY(0deg);

}

#slide-2 #derriere{
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;

    -webkit-transform:rotateY(180deg)  translateX(100%); /* 99.8 : Corrigé Espacement pixel*/
    -moz-transform:rotateY(180deg)  translateX(100%);
    -ms-transform:rotateY(180deg)  translateX(100%);
    transform:rotateY(180deg)  translateX(100%);
}

#slide-2 .retourne{
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform:rotateY(-180deg)  translateX(-100%);
    -moz-transform:rotateY(-180deg)  translateX(-100%);
    -ms-transform:rotateY(-180deg)  translateX(-100%);
    transform:rotateY(-180deg)  translateX(-100%);
}

.blur{
    display: block;
    height: 100%;
}

#devant .blur{
    background-color: rgba(61,41,34,0.4);
}

 #derriere .blur{
    background-color: rgba(32, 0, 0, 0.59);
}

.blur span{
    display: flex;
    height: calc(100% - 13vh);
}

.fleche_SE{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    background-repeat: repeat-x;
}

.SE_non_dispo{
    padding: 1.3vh;
    font-size: 2vh;
}

#derriere .SE_non_dispo{
    width: calc(100% - 1.3vh - 1.3vh );
    text-align: center;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}


#BC_flecheHaut{
    top:0;
    margin-top: -50px;
    background-image: url("../img/flecheH_SE.png");
}

#BC_flecheBas{
    bottom:0;
    margin-bottom: -50px;
    background-image: url("../img/flecheB_SE.png");
}

/*blaooos.pdf*/

#blaooos{
    background-color: rgba(177,162,130,0.4);
    text-align: center;
    color: white;
    font-size: 1.7vw;
    font-family: "F_HI";
    text-decoration: none;
    width: 19vw;
    height: 4.5vh;
    display: block;
    padding: 0.5vh;
    border-radius: 9px;
    border: 1px solid white;
    margin: 125px auto;
}

/*Face Front */

#slide-2 #devant h2{
    text-align: center;
    margin: auto;
    border-bottom: 5px solid white;
    padding-bottom: 25px;
    height:50px;
    padding-top: 25px;
    color:white; /*#7F1919*/
    font-size: 2.5vw;
    font-family: "F_HI";
}

#mardi #devant,#mardi #derriere{
     background: url('../img/ville.png') no-repeat center center;
}

#mercredi #devant,#mercredi #derriere{
     background: url('../img/pyramide.jpg') no-repeat center center;
}

#jeudi #devant,#jeudi #derriere{
     background: url('../img/desert.png') no-repeat center center;
}

#slide-2 .face .contenu_front{
    position: relative;
    background-color: rgba(61,41,34,0.85);
    padding: 0.9vh;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "F_OS_R";
    font-size: 1.8vh;
    margin: auto;
    z-index: 999;
}


/*Face Back*/

#slide-2 #derriere{
    color: white;
    font-family: "F_OS_R";
    overflow: hidden;
}

#slide-2 #derriere h2{
    width: 100%;
    background-color:rgba(61,41,34,0.85);
    padding: 1vh 0px;
    text-align: center;
    font-size: 1.2vw;
    font-family: "F_HI";
    box-shadow: 0px 6px 19px #000;
}

#slide-2 #derriere h2:nth-child(1){
    margin-top: 0;
}

#slide-2 #derriere .liste_activite{
    font-size: 0.9vw;
    line-height: 3vh;
    padding: 1vh 0px 1vh 2vw;
    text-align: left;
}

#slide-2 #derriere .liste_activite img{
    width: 1vw;
    padding-right: 0.5vw;
}

/* ==========================================================================
   Style in Slide 3
   ========================================================================== */

#slide-3 {
    -webkit-transform: translate(100%,100%);
    -moz-transform: translate(100%,100%);
    -ms-transform: translate(100%,100%);
    transform: translate(100%,100%);
    height:50%;
    background-color: black;
    border-left: 1px solid white;
}

#slide-3 .hsContent{
    display: block;
    margin-top: 85px;
    position: relative;
}

#slide-3 .hsContent iframe{
    width: 100%;
    height: 100%;
}


/* ==========================================================================
   Style in Slide 4 (Membre BOX )
   ========================================================================== */

#slide-4{
    -webkit-transform: translate(0%,200%);
    -moz-transform: translate(0%,200%);
    -ms-transform: translate(0%,200%);
    transform: translate(0%,200%);
}

#slide-4 .bcg{
    background: url('../img/slide_4.jpg') no-repeat center center;
}

#slide-4 .hsContent{
    display: block;
    margin-top:85px;
}

/*Image Poles*/


#slide-4 #img_poles{
    position:absolute;
    width: 100%;
    height: 100%;
}

#slide-4 #img_poles .pole{
    position: absolute;
    padding: 5%;
    -webkit-transition-duration: 0.5s; /*Va avec l'effet de rotation par cran*/
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#slide-4 #img_poles .pole img{
    width:21vmin;
}

#slide-4 #img_poles #com    {top:0;    left:0;}
#slide-4 #img_poles #event  {bottom:0; left:0; margin-bottom: 100px;}
#slide-4 #img_poles #ve     {top:0;    right: 0;}
#slide-4 #img_poles #log    {bottom:0; right: 0; margin-bottom: 100px;}

/* Face Cube : */

#slide-4 .face .pole{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    color: white;
    font-family: "F_MO";
}

.image_respo img , .membre img, .membre .info_membre{
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
}

    /*H2*/

    #slide-4 .face .pole h2 {
        position: absolute;
        width:68%;
        top :-75px;
        text-align: center;
        font-family: "F_HI";
        font-size: 3.2em;
        -webkit-transition-duration:0.2s;
        -moz-transition-duration:0.2s;
        -ms-transition-duration:0.2s;
        transition-duration:0.2s;
    }

        #slide-4 .face .pole h2:hover{
            -webkit-transform:scale(1.1);
            -moz-transform:scale(1.1);
            -ms-transform:scale(1.1);
            transform:scale(1.1);
        }

    /*RESPO*/

    #slide-4 .face .respo {
        position: absolute;
        width: 320px;
        height: 160px;
        top: -16%;
        right: -3%;
    }

        .respo .image_respo{
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 97%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
            border: 2px solid white;
            overflow: hidden;
            -webkit-transition-duration:1s;
            -moz-transition-duration:1s;
            -ms-transition-duration:1s;
            transition-duration:1s;
        }

            .border_bottom{
                position: absolute;
                width:290px;
                left: 1%;
                top: 60%;
                height:57%;
                -webkit-border-radius: 50% / 0 0 100% 100%;
                -moz-border-radius: 50% / 0 0 100% 100%;
                -ms-border-radius: 50% / 0 0 100% 100%;
                border-radius: 50% / 0 0 100% 100%;
                background-color: rgba(94,3,31,0.8);
            }


        .respo .info_respo{
            position: absolute;
            left: 51%;
            width: 50%;
            top: 3%;
            -webkit-transition-duration:1.2s;
            -moz-transition-duration:1.2s;
            -ms-transition-duration:1.2s;
            transition-duration:1.2s;
        }

            .info_respo h1{
                color: white;
                margin: 0;
                font-family: "F_LS";
                font-size: 29px;
                text-align: left;
            }

            .info_respo h1:nth-child(2) {
                padding-left: 8px;
            }

    /*MEMBRES*/

    #membres {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition-duration:1s;
        -moz-transition-duration:1s;
        -ms-transition-duration:1s;
        transition-duration:1s;
    }

    .ligne{
        width: 100%;
        height: 160px;
        margin: 20px 0 20px 0;
    }


    #ligne_1{
        width:590px !important;
    }

        #pole_com #ligne_3 .membre{
            margin: 0 7px;
        }

        #pole_com #ligne_3{
            width: 103%;
        }

        .ligne .membre{
            display: inline-block;
            position: relative;
            width: 160px;
            height: 100%;
            margin: 0 15px 0 15px;
            background-color: white;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
            border: 2px solid white;
            overflow: hidden;
            line-height: 30px;
            -webkit-transition-duration:1s;
            -moz-transition-duration:1s;
            -ms-transition-duration:1s;
            transition-duration:1s;
        }

            .membre .info_membre{
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                border-radius: 50%;
                text-align: center;
                background-color: rgba(94,3,31,0.85);
                background-image:  url("../img/membres/contour.png");
                background-size: 100% 100%;
                -webkit-transform:translateX(-100%);
                -moz-transform:translateX(-100%);
                -ms-transform:translateX(-100%);
                transform:translateX(-100%);
                -webkit-transition-duration:0.47s;
                -moz-transition-duration:0.47s;
                -ms-transition-duration:0.47s;
                transition-duration:0.47s;
            }
                .ligne .membre:hover .info_membre{
                    -webkit-transform:translateY(0%);
                    -moz-transform:translateY(0%);
                    -ms-transform:translateY(0%);
                    transform:translateY(0%);
                }

            .membre .info_membre h1:nth-child(1){
                padding-top: 24%;
                font-size: 20px;
                font-family: "F_LS";
            }

            .membre .info_membre h1:nth-child(2){
                font-size: 23px;
                font-family: "F_LS";
            }

            .membre .info_membre h1:nth-child(3){
                font-size: 20px;
                color: #ff702d;
            }

/* MEMBRES BUREAU*/

    #dessus h2{
        border-bottom: 5px solid white;
        margin: 0 30% 5% 30%;
        color: white;
        text-align: center;
        font-family: "F_HI";
        font-size: 3.2em;
        -webkit-transition-duration:0.2s;
        -moz-transition-duration:0.2s;
        -ms-transition-duration:0.2s;
        transition-duration:0.2s;
    }

        #dessus h2:hover{
            -webkit-transform:scale(1.1);
            -moz-transform:scale(1.1);
            -ms-transform:scale(1.1);
            transform:scale(1.1);
        }

    #membres_bureau{
        width: 100%;
        height: 510px;
    }

        .ligne_bureau{
            text-align: center;
        }

        .membre_bureau{
            display: inline-block;
            position: relative;
            width:170px;
            height: 170px;
            margin: 0px 30px;
            background-color: white;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid white;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
        }

            .membre_bureau img{
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                border-radius: 50%;
                width:100%;
                height:100%;
                position: absolute;
                left: 0;
                top: 0;
            }

            .membre_bureau .info_membre_bureau{
                position: absolute;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                color: white;
                background-image: url("../img/membres/contour.png");
                background-color: rgba(15, 0, 5, 0.84);
                background-size: 100% 100%;
                line-height: 31px;
                -webkit-transition-duration:0.5s;
                -moz-transition-duration:0.5s;
                -ms-transition-duration:0.5s;
                transition-duration:0.5s;
            }

            #bureau_1 .info_membre_bureau{
                -webkit-transform:translateY(-100%);
                -moz-transform:translateY(-100%);
                -ms-transform:translateY(-100%);
                transform:translateY(-100%);
            }
                #bureau_1:hover .info_membre_bureau{
                    -webkit-transform:translateY(0%);
                    -moz-transform:translateY(0%);
                    -ms-transform:translateY(0%);
                    transform:translateY(0%);
                }

            #bureau_2 .info_membre_bureau{
                -webkit-transform:translateX(-100%);
                -moz-transform:translateX(-100%);
                -ms-transform:translateX(-100%);
                transform:translateX(-100%);
            }
                #bureau_2:hover .info_membre_bureau{
                    -webkit-transform:translateX(0%);
                    -moz-transform:translateX(0%);
                    -ms-transform:translateX(0%);
                    transform:translateX(0%);
                }

            #bureau_3 .info_membre_bureau{
                -webkit-transform:translateX(100%);
                -moz-transform:translateX(100%);
                -ms-transform:translateX(100%);
                transform:translateX(100%);
            }
                #bureau_3:hover .info_membre_bureau{
                    -webkit-transform:translateX(0%);
                    -moz-transform:translateX(0%);
                    -ms-transform:translateX(0%);
                    transform:translateX(0%);
                }

            #bureau_4 .info_membre_bureau{
                -webkit-transform:translateX(-100%);
                -moz-transform:translateX(-100%);
                -ms-transform:translateX(-100%);
                transform:translateX(-100%);
            }
                #bureau_4:hover .info_membre_bureau{
                    -webkit-transform:translateX(0%);
                    -moz-transform:translateX(0%);
                    -ms-transform:translateX(0%);
                    transform:translateX(0%);
                }

            #bureau_5 .info_membre_bureau{
                -webkit-transform:translateY(100%);
                -moz-transform:translateY(100%);
                -ms-transform:translateY(100%);
                transform:translateY(100%);
            }
                #bureau_5:hover .info_membre_bureau{
                    -webkit-transform:translateY(0%);
                    -moz-transform:translateY(0%);
                    -ms-transform:translateY(0%);
                    transform:translateY(0%);
                }

            #bureau_6 .info_membre_bureau{
                -webkit-transform:translateX(100%);
                -moz-transform:translateX(100%);
                -ms-transform:translateX(100%);
                transform:translateX(100%);
            }
                #bureau_6:hover .info_membre_bureau{
                    -webkit-transform:translateX(0%);
                    -moz-transform:translateX(0%);
                    -ms-transform:translateX(0%);
                    transform:translateX(0%);
                }


            .membre_bureau .info_membre_bureau h1:nth-child(1){
                padding-top: 24%;
                font-size: 20px;
                font-family: "F_LS";
            }

            .membre_bureau .info_membre_bureau h1:nth-child(2){
                font-size: 23px;
                font-family: "F_LS";
            }

            .membre_bureau .info_membre_bureau h1:nth-child(3){
                font-size: 16px;
                color: #ff702d;
                font-family: "F_MO";
            }


/*Delay Transition PP membres*/

.respo .image_respo , .respo .info_respo {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
    }
#ligne_1 .membre{
    -webkit-transition-delay:0.4s;
    -moz-transition-delay:0.4s;
    -ms-transition-delay:0.4s;
    transition-delay: 0.4s;
}
#ligne_2 .membre{
    -webkit-transition-delay: 0.7s;
    -moz-transition-delay: 0.7s;
    -ms-transition-delay: 0.7s;
    transition-delay: 0.7s;
}
#ligne_3 .membre{
    -webkit-transition-delay: 0.9s;
    -moz-transition-delay: 0.9s;
    -ms-transition-delay: 0.9s;
    transition-delay: 0.9s;
    }

/* Boite */

#slide-4 #perspective{
    padding-top:135px;
    width: 900px;
    height: 600px;
    margin: auto;

    -webkit-perspective :2700px;
    -moz-perspective :2700px;
    -ms-perspective :2700px;
    perspective :2700px;

    -webkit-perspective-origin:50% 50%;
    -moz-perspective-origin:50% 50%;
    -ms-perspective-origin:50% 50%;
    perspective-origin:50% 50%;
}

#slide-4 .Box{
    display: block;
    position: relative;
    margin: auto;
    height: 100%;
    background-color: transparent;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition-duration: 0.8s; /*Va avec l'effet de rotation par cran*/
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

#slide-4 .face{
    border-top:5px solid white;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition-duration: 1s; /*Rajoute l'effet de rotation par cran*/
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    transition-duration: 1s;
}

#slide-4 #dessus{
    -webkit-transform:rotateX(0deg);
    -moz-transform:rotateX(0deg);
    -ms-transform:rotateX(0deg);
    transform:rotateX(0deg);
    margin-top: -100px;
    border : none;
}

#slide-4 #devant {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;

    -webkit-transform:rotateX(-90deg) rotateY(0deg) translateY(600px);
    -moz-transform:rotateX(-90deg) rotateY(0deg) translateY(600px);
    -ms-transform:rotateX(-90deg) rotateY(0deg) translateY(600px);
    transform:rotateX(-90deg) rotateY(0deg) translateY(600px);
}

#slide-4 #droite{
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;

    -webkit-transform:rotateX(-90deg) rotateY(90deg) translateY(600px) translateZ(450px) translateX(450px);
    -moz-transform:rotateX(-90deg) rotateY(90deg) translateY(600px) translateZ(450px) translateX(450px);
    -ms-transform:rotateX(-90deg) rotateY(90deg) translateY(600px) translateZ(450px) translateX(450px);
    transform:rotateX(-90deg) rotateY(90deg) translateY(600px) translateZ(450px) translateX(450px);
}

#slide-4 #derriere {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;

    -webkit-transform:rotateX(-90deg) rotateY(180deg) translateY(600px) translateZ(900px);
    -moz-transform:rotateX(-90deg) rotateY(180deg) translateY(600px) translateZ(900px);
    -ms-transform:rotateX(-90deg) rotateY(180deg) translateY(600px) translateZ(900px);
    transform:rotateX(-90deg) rotateY(180deg) translateY(600px) translateZ(900px);
}

#slide-4 #gauche {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform:rotateX(-90deg) rotateY(-90deg) translateY(600px) translateZ(450px) translateX(-450px);
    -moz-transform:rotateX(-90deg) rotateY(-90deg) translateY(600px) translateZ(450px) translateX(-450px);
    -ms-transform:rotateX(-90deg) rotateY(-90deg) translateY(600px) translateZ(450px) translateX(-450px);
    transform:rotateX(-90deg) rotateY(-90deg) translateY(600px) translateZ(450px) translateX(-450px);
}


/* ==========================================================================
   Style in Slide 5
   ========================================================================== */

#slide-5 {
    overflow: hidden;
    -webkit-transform: translate(0%,300%);
    -moz-transform: translate(0%,300%);
    -ms-transform: translate(0%,300%);
    transform: translate(0%,300%);
}

#slide-5 .bcg{
    background: url('../img/slide_1.jpg') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

#slide-5 .hsContent{
    display: block;
    margin-top:85px;
}

/*Les deux div de depart*/

.titre_prgm{
    display: flex;
    position: absolute;
    width:20vmax;
    height:20vmax;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    border: solid 10px white;
    background-color: rgba(87,4,10,0.6);
    cursor: pointer;
    -webkit-transition:0.8s ease;
    -moz-transition:0.8s ease;
    -ms-transition:0.8s ease;
    transition:0.8s ease;
}

    #Prgm_G .titre_prgm{
        left: calc(35% - 10vw);
        top: calc(50% - 85px - 10vh);
    }

    #Prgm_D .titre_prgm{
        left: calc(65% - 10vw);
        top: calc(50% - 85px - 10vh);
    }

    .titre_prgm .opacity_arrow{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align:center;
        color: white;
        font-size: 11vmin;
        opacity: 0;
        -webkit-transform-origin:center;
        -moz-transform-origin:center;
        -ms-transform-origin:center;
        transform-origin:center;
        -webkit-transition:0.4s ease;
        -moz-transition:0.4s ease;
        -ms-transition:0.4s ease;
        transition:0.4s ease;
    }

        #Prgm_D .opacity_arrow{
            -webkit-transform:rotateZ(-90deg) translateY(15px);
            -moz-transform:rotateZ(-90deg) translateY(15px);
            -ms-transform:rotateZ(-90deg) translateY(15px);
            transform:rotateZ(-90deg) translateY(15px);
        }
        #Prgm_G .opacity_arrow {
            -webkit-transform:rotateZ(90deg) translateY(15px);
            -moz-transform:rotateZ(90deg) translateY(15px);
            -ms-transform:rotateZ(90deg) translateY(15px);
            transform:rotateZ(90deg) translateY(15px);
        }

        .titre_prgm:hover .opacity_arrow{
            opacity: 1;
        }
            #Prgm_D .titre_prgm:hover .opacity_arrow{
                -webkit-transform: rotateZ(-90deg) translateY(0px) !important;
                -moz-transform: rotateZ(-90deg) translateY(0px) !important;
                -ms-transform: rotateZ(-90deg) translateY(0px) !important;
                transform: rotateZ(-90deg) translateY(0px) !important;
            }

            #Prgm_G .titre_prgm:hover .opacity_arrow{
                -webkit-transform: rotateZ(90deg) translateY(0px) !important;
                -moz-transform: rotateZ(90deg) translateY(0px) !important;
                -ms-transform: rotateZ(90deg) translateY(0px) !important;
                transform: rotateZ(90deg) translateY(0px) !important;
            }

        .opacity_arrow .fa{
            position: relative;
            top: 16vmax;
            margin-top: 18%;
        }

        .titre_prgm h2{
            margin: auto;
            padding: 6vmin;
            color: white;
            font-family: "F_HI";
            font-size: 3vmin;
            line-height: 120%;
        }

        .titre_prgm h1{
            width: 100%;
            position: absolute;
            top: 16vmax;
            letter-spacing: 0.6px;
            left: 0;
            color: white;
            text-align: center;
            font-family: "F_MO";
            font-size: 1.7vmin;
            color: #FEBD03;
        }


/*Detail des Programmes*/

        .detail_prgm{
            position: absolute;
            top: 0;
            width: 45%;
            height: 100%;
            overflow: hidden;
            z-index: 999;
            -webkit-transition:0.7s ease;
            -moz-transition:0.7s ease;
            -ms-transition:0.7s ease;
            transition:0.7s ease;
        }

        #Prgm_G .detail_prgm{
            left:0;
            -webkit-transform:translateX(-100%);
            -moz-transform:translateX(-100%);
            -ms-transform:translateX(-100%);
            transform:translateX(-100%);
        }

        #Prgm_D .detail_prgm{
            left:55%;
            -webkit-transform:translateX(100%);
            -moz-transform:translateX(100%);
            -ms-transform:translateX(100%);
            transform:translateX(100%);
        }

            .liste_prgm{
                position: absolute;
                width:30%;
                height: calc(100% - 85px);
                padding-top: 100px;
                background-color: rgba(221, 221, 221, 0.7);
                font-family: "F_OS_L";
                font-size: 0.6vw;
                -webkit-transition: 0.7s ease;
                -moz-transition: 0.7s ease;
                -ms-transition: 0.7s ease;
                transition: 0.7s ease;
                -webkit-transition-delay: 0.2s;
                -moz-transition-delay: 0.2s;
                -ms-transition-delay: 0.2s;
                transition-delay: 0.2s;
            }

            #Prgm_G .liste_prgm{
                left: 70%;
                -webkit-transform: translateX(-100%);
                -moz-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                transform: translateX(-100%);
            }
            #Prgm_D .liste_prgm{
                left: 0%;
                -webkit-transform: translateX(100%);
                -moz-transform: translateX(100%);
                -ms-transform: translateX(100%);
                transform: translateX(100%);
            }

                .intitule{
                    display: block;
                    background-color: rgba(87,4,10,0.8);
                    text-align: center;
                    cursor: pointer;
                    color: #FFF;
                    padding: 1.4vmin;
                    margin: 0.4vmin 1vmin 0.4vmin 1vmin;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    border-radius: 4px;
                    -webkit-transition-duration: 0.1s;
                    -moz-transition-duration: 0.1s;
                    -ms-transition-duration: 0.1s;
                    transition-duration: 0.1s;
                }

            .sous_liste_prgm{
                position: absolute;
                width:70%;
                height: calc(100% - 85px);
                padding-top: 85px;
                background-color: rgba(27, 0, 0, 0.78);
                font-family: "F_OS_R";
                font-size: 1.7vmin;
                box-shadow: 0px 0px 8px #000;
            }

            #Prgm_G .sous_liste_prgm{left: 0%;}
            #Prgm_D .sous_liste_prgm{left: 30%;}

                .content_intitule{
                    position: absolute;
                    width: 90%;
                    height: 90%;
                    padding: 5%;
                    text-align: justify;
                    line-height: 3.5vmin;
                    color: white;
                    -webkit-transition:0.2s ease;
                    -moz-transition:0.2s ease;
                    -ms-transition:0.2s ease;
                    transition:0.2s ease;
                }
                    #Prgm_G .sous_liste_prgm .content_intitule{
                        -webkit-transform: translateX(-100%);
                        -moz-transform: translateX(-100%);
                        -ms-transform: translateX(-100%);
                        transform: translateX(-100%);
                    }

                    #Prgm_D .sous_liste_prgm .content_intitule{
                        -webkit-transform: translateX(100%);
                        -moz-transform: translateX(100%);
                        -ms-transform: translateX(100%);
                        transform: translateX(100%);
                    }

                    .content_intitule h2{
                        color: #cc6534;
                        line-height: 5.5vmin;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                        font-size: 2.1vmax;
                        text-align: left !important;
                        border-bottom: 1px solid #939393;
                        font-family: "F_HI";
                    }


/*JS Action*/


    #Prgm_G .titre_ouvert{
        -webkit-transform:translateX(150%) !important;
        -moz-transform:translateX(150%) !important;
        -ms-transform:translateX(150%) !important;
        transform:translateX(150%) !important;
    }

    #Prgm_D .titre_ferme{
        -webkit-transform:translateX(100%) scale(0.5) !important;
        -moz-transform:translateX(100%) scale(0.5) !important;
        -ms-transform:translateX(100%) scale(0.5) !important;
        transform:translateX(100%) scale(0.5) !important;
     }

    #Prgm_D .titre_ouvert{
        -webkit-transform:translateX(-150%) !important;
        -moz-transform:translateX(-150%) !important;
        -ms-transform:translateX(-150%) !important;
        transform:translateX(-150%) !important;
    }

    #Prgm_G .titre_ferme{
        -webkit-transform:translateX(-100%) scale(0.5) !important;
        -moz-transform:translateX(-100%) scale(0.5) !important;
        -ms-transform:translateX(-100%) scale(0.5) !important;
        transform:translateX(-100%) scale(0.5) !important;
     }

    .prgm_ouvert{
        -webkit-transform:translateX(0%) !important;
        -moz-transform:translateX(0%) !important;
        -ms-transform:translateX(0%) !important;
        transform:translateX(0%) !important;
    }

    .prgm_ouvert .liste_prgm{
        -webkit-transform:translateX(0%) !important;
        -moz-transform:translateX(0%) !important;
        -ms-transform:translateX(0%) !important;
        transform:translateX(0%) !important;
    }

    .intitule_ouvert{
        color: #ff7e41 !important;
        background-color: rgba(27, 0, 0, 0.86) !important;
    }

        #Prgm_G .intitule_ouvert{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: 0;
            padding-left: 2.4vmin;
        }

        #Prgm_D .intitule_ouvert{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: 0;
            padding-right: 2.4vmin;
        }

    .content_ouvert{
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -ms-transition-delay: 0.2s;
        transition-delay: 0.2s;
        -webkit-transform:translateX(0%) !important;
        -moz-transform:translateX(0%) !important;
        -ms-transform:translateX(0%) !important;
        transform:translateX(0%) !important;
    }


/* ==========================================================================
   Style in Slide 6
   ========================================================================== */

#slide-6{
    height: 35%;
    color: white;
    -webkit-transform: translate(0%,571%); /*400% * 2 car taille reduite de moitié*/
    -moz-transform: translate(0%,571%);
    -ms-transform: translate(0%,571%);
    transform: translate(0%,571%);
}

#slide-6 .bcg{
    background-color: #1A1919;
}

#slide-6 .hsContainer{
    background-color: transparent;
    border-top: 1px solid white;
}

#slide-6 .hsContent{
    display: block;
    margin-top:50px;
}

#forms{
    position: relative;
    display: block;
    height:55vh;

}
    .formulaire{
        position: absolute;
        width: 19vw;
        height: 100%;
        background-color: #000;
        color: white;
        border: 1px solid white;
        overflow: hidden;
        transform:translateX(-50%);
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -ms-background-size: cover !important;
        background-size: cover !important;
    }

    #form_1{
        left:20%;
        background-image: url("../img/crepe.jpg");
    }

    #form_2{
        left:50%;
        background-image: url("../img/hypnotiseur.jpg");
    }

    #form_3{
        left:80%;
        background-image: url("../img/fortboyard.jpg");
    }

        .formulaire .blur{
            background-color: rgba(35, 35, 35, 0.78);
        }

        .formulaire h2{
            text-align: center;
            margin: auto;
            border-bottom: 5px solid white;
            padding: 2.2vh 0;
            height: 50px;
            line-height: 100%;
            color: white;
            font-size: 2.5vw;
            font-family: "F_LS";
            line-height: 2.7vw;
        }

    #forms .teaser_event{
        width: 80%;
        text-align: center;
        padding: 1vh 10%;
        font-size: 0.9vw ;
        background-color: rgba(0, 0, 0, 0.55);
        font-family: "F_MO";
        letter-spacing: 1px;
        margin-bottom: 1vh;
    }

    .formulaire form{
        position: relative;
        display: block;
        height: 65%;
    }

    #forms label{
        display: block;
        font-size: 1.3vw ;
        font-family: "F_MO";
        width: 5.3vw;
        float: left;
        text-align: right;
        padding-right: 1vw;
        margin-top: 2vh;
    }

    #forms input{
        border :3px solid rgba(0, 0, 0, 0.3);
        margin-top: 2vh;
        padding-left: 10px;
        height: 2.2vh;
        width: 7vw;
        font-size: 0.9vw;
        border-radius: 8px;
    }

     #forms #submite, .next_form, .last_form{
        position: absolute;
        text-align: center;
        top: 90%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: 4vh;
        width: 65%;
        background-color: transparent;
        border-radius: 0px;
        border: 2px solid white;
        font-size: 1.2vw;
        color: white;
        cursor: pointer;
        font-family: "F_OS_R";
        transition: 0.2s;
     }

     #forms #submite:hover, .next_form:hover, .last_form:hover{
        transform: translateX(-50%) translateY(-50%) scale(1.1);
     }

        #form_1 #submite, #form_3 #submite{
            left: 75%;
            width: 35%;
        }

     .next_form{
        width: 35%;
        left: 75%;
        margin-top: 2vh;
     }

     .last_form{
        width: 35%;
        left: 25%;
        margin-top: 2vh;
     }

     .slider_page{
        position: absolute;
        height: 100%;
        transition: 0.5s ease;
     }

     #slider_1{
        width: 200%;
     }

     #slider_2{
        width: 500%;
     }

         .page_inscription{
            position: absolute;
            width: 17vw;
            height: 100%;
            padding: 0 1vw;
         }

                 #forms .page_inscription:nth-child(1){
                    transform:translateX(0%);
                 }

                 #forms .page_inscription:nth-child(2){
                    transform:translateX(100%);
                 }

                 #forms .page_inscription:nth-child(3){
                    transform:translateX(200%);
                 }

                 #forms .page_inscription:nth-child(4){
                    transform:translateX(300%);
                 }

                 #forms .page_inscription:nth-child(5){
                    transform:translateX(400%);
                 }

/*Formulaire Aspect Individuel*/

/*Formulaire 1*/

#form_1 form{
    height: 61%;
}

#form_1 #choix_a_puce h1{
    font-family: "F_LS";
    font-size: 1.2vw;
    padding: .5vh;
}

#form_1 #choix_a_puce label{
    display: inline-block;
    font-size: 0.9vw;
    width: 6.3vw;
    float: none;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-left: 1vw;
}

#form_1 #choix_a_puce input{
    width: inherit;
    margin: inherit;
    height: inherit;
    margin-left: 1vw;
}

/*Formulaire 2*/

#form_2  label{
   margin-left: 1.5vw;
}


#form_3  .page_inscription:nth-child(1) label{
    width: 7.3vw;
}

#form_2 #place_res_hypno{
    width: 100%;
    height: 3.5vh;
    text-align: center;
    color: #FEBD03;
    font-size: 2.2vh;
    font-family: "F_LS";
    margin-top: 4vh;
}

/*Formulaire 3*/

#form_3 form h1{
    text-align: center;
    font-size: 2.5vh;
    border-bottom: 1px solid white;
    font-family: "F_OS_R";
    margin: 0 3vw;
    padding-bottom: 0.2vh;
}
