
@media (max-width: 1580px) {

	nav .hsContent {
	    width: 91%;
	    padding: 0 5% 0 5%;
	}
}

@media (min-width: 1500px) {
	#slide-4 #perspective {
		transform: scale(0.9) !important;
		padding-top: 100px !important;
	}

	#form_3 input {
	    width: 6vw;
	}

	#form_3 .page_inscription:nth-child(1) label {
	    width: 8.3vw;
	}

	#form_2 label {
	    margin-left: 0.5vw;
	}

	#forms label {
    	width: 7.3vw;
	}
	#forms input {
	    width: 6vw;
	}
}

@media (min-width: 1300px) and (max-width: 1499px) {
	#slide-4 #perspective {
		transform: scale(0.8) !important;
		padding-top: 60px !important;
	}
}

@media (min-width: 1160px) and (max-width: 1299px) {

	#slide-4 #perspective {
	    transform: scale(0.7) !important;
	    padding-top: 20px !important;
	}
}

@media (max-width: 1500px) {

	.titre_prgm h2 {
	    padding: 3vmin;
	    font-size: 1.8vmax;
	}
	.formulaire {
	    width: 23vw;
	}
	.page_inscription {
	    width: 19vw;
	    padding: 0 2vw;
	}
}

@media (max-width: 1159px) {
	#slide-4 #perspective {
	    transform: scale(0.6) !important;
	    padding-top: 0px !important;
	}
}


@media (min-height: 730px) and (max-height: 860px) {
	#slide-4 #perspective {
		transform: scale(0.85);
		padding-top: 85px;
	}
}

@media (min-height: 660px) and (max-height: 729px) {
	#slide-4 #perspective {
		transform: scale(0.75) !important;
		padding-top: 30px !important;
	}
}

@media (max-height: 659px) {
	#slide-4 #perspective {
		transform: scale(0.65) !important;
		padding-top: 10px !important;
	}
}


@media (min-width: 1650px) and (min-height: 800px){

	.titre_prgm h2 {
  		font-size: 3vmin;
	}
}

@media (max-height: 900px){

	#forms #submite, .next_form, .last_form {
	    font-size: 1.5vw;
	}
}

@media (max-height: 800px){

	#form_1 .slider_page {
	    height: 85%;
	}

	#form_1 #choix_a_puce h1 {
		font-size: 2vh;
	    padding: 0 .5vh;
	}

	#form_1 form {
    	height: 59%;
	}

	#form_1 #choix_a_puce{
		line-height: 3vh;
	}

	#form_2 form , #form_3 form{
	    height: 55% !important;
	}	

	#form_2 #place_res_hypno {
	    margin-top: 3vh;
	}

	#forms label {
	    margin-top: 1vh;
	}

	#forms input {
	    margin-top: 1vh;
	}

	#forms #submite{
	    margin-top: 2vh;
	}
}

